<div class="item">
  <div class="right">
    <h3 class="title"></h3>
    <div class="info">
      <div class="control">
        <button class="decrement">-</button>
        <input class="count" type="number" value="0" readonly />
        <button class="increment">+</button>
      </div>
      <span class="price"></span>
    </div>
    <span class="sum"></span>
  </div>

  <div class="left">
    <span class="delete">X</span>
    <div class="image">
      <img class="img" src="" />
    </div>
  </div>

</div>
